<div class = 'tasks_page'>
    <?php if (!empty($tasks)): ?>
        <?php foreach ($tasks as $nr=>$user) :?>
        <table class = "tasks">
        <thead>
        <tr>
            <th class = "task_col">Ülesanne</th><th class = "categ">Kategooria</th><th>Tähtaeg</th>
        </tr>
        </thead>
        <div>
            <?php if ($nr == $_SESSION['user']['id']):?>
            <p class = "pealkiri"><b>Minu ülesanded!</b></p>
            <?php else: ?>
            <?php foreach($users as $key => $usr):?>
            <?php if($usr['id']==$nr): ?>
            <br>
            <p class = "pealkiri">Ülesanded: <b><?php echo htmlspecialchars($usr['usern']); ?></b></p>
            <?php endif; ?>
            <?php endforeach;?>

            <?php endif; ?>
            <tbody>
            <?php foreach ($user as $task):?>
            <tr>
                <td class = "task_col"><?php echo htmlspecialchars($task['task']); ?></td>
                <td class = "categ"><?php echo htmlspecialchars($task['categ']); ?></td>
                <td class = "deadline_col"><?php echo date("d-m-Y", htmlspecialchars(strtotime($task['deadline']))); ?></td>
                <td class = "tbl">
                    <form action = "?mode=modify" method="POST">
                        <input type="hidden" name="modify_id" value = "<?php echo htmlspecialchars($task['id']); ?>" />
                        <input type="submit" value="Muuda" name = "modify"/>
                    </form>
                </td>
                <td class = "tbl">
                    <form action = "?mode=delete" method="POST">
                        <input type="hidden" name="delete_id" value = "<?php echo htmlspecialchars($task['id']); ?>" />
                        <input type="submit" value="Kustuta" name = "delete"/>
                    </form>
                </td>
            </tr>
            <?php endforeach;?>
            </tbody>
        </div>
        <?php endforeach; ?>
    </table>
    <?php endif; ?>
</div>