<div id="delete">
    <p class = "pealkiri">Kas soovid kustutada ülesande: </p><br>
    <table class = "">
        <thead>
        <tr>
            <th class = "task_col">Ülesanne</th><th>Kategooria</th><th>Tähtaeg</th>
        </tr>
        </thead>

        <tbody>
        <tr>
            <td class = "task_col"><?php echo htmlspecialchars($deltask['task']) ?></td>
            <td class = "categ"><?php echo htmlspecialchars($deltask['categ']) ?></td>
            <td class = "deadline_col"><?php echo htmlspecialchars($deltask['deadline']) ?></td>
        </tr>
        </tbody>
    </table>

    <form name = "ifdelete" action="?mode=delete" method="POST" >
        <input type="hidden" name="id" value = "<?php echo htmlspecialchars($deltask['id']); ?>" /><br/><br>
        <input type="submit" value="JAH" name = "appr_del"/>
        <input type="submit" value="EI" name = "dont_del"/><br><br>
    </form>
    <?php if (isset($errors)):?>
    <?php foreach($errors as $error):?>
    <div style="color:red;"><?php echo htmlspecialchars($error); ?></div>
    <?php endforeach;?>
    <?php endif;?>
</div>
