<div id="login">
	<p>Sisesta kasutajanimi ja parool:</p>
    <form action="?mode=login" method="POST" >
        <input id = "login_box" type="text" name="user" placeholder="kasutajanimi"/><br/>
        <input id = "login_box" type="password" name="pass" placeholder="parool"/><br/>
        <input type="submit" value="Astu sisse!"/>
    </form>
    <?php if (isset($errors)):?>
    <?php foreach($errors as $error):?>
    <div style="color:red;"><?php echo htmlspecialchars($error); ?></div>
    <?php endforeach;?>
    <?php endif;?>
</div>