<div id="modify">
    <p class = "pealkiri">Muuda ülesannet: </p><br>
    <form name = "modify" action="?mode=modify" method="POST" >
        <textarea id='taskid' maxlength='200' rows="4" cols="60" name="muudatask"><?php echo htmlspecialchars((empty($_POST['appr_modi'])) ? ($thistask['task']) : ($_POST['muudatask'])) ;?></textarea><br/>
        Saad lisada veel <span id = "char_left"></span> tähemärki!<br><br>
        <input type="hidden" name="id" value = "<?php echo htmlspecialchars((empty($_POST['appr_modi'])) ? (htmlspecialchars($thistask['id'])) : (htmlspecialchars($_POST['id']))) ;?>" /><br/>
        <?php if ($_SESSION['user']['role'] != 'admin'): ?>

        <input type="hidden" name="user_id" value = "<?php echo htmlspecialchars($_SESSION['user']['id']); ?>" /><br>
        <?php else: ?><!-- adminil võimalus kõigile ülesannete lisamiseks-->
        Muuda kasutajat:
        <select name = "user_id">
            <?php foreach($users as $key => $user):?>
            <option value="<?php echo htmlspecialchars($user['id']); ?>"<?php if (((empty($_POST['appr_modi'])) ? (htmlspecialchars($thistask['user_id'])) : ((!empty($_POST['user_id']) && $_POST['user_id'])))== $user['id']) echo 'selected = "selected"';?>><?php echo htmlspecialchars($user['usern']); ?></option>
            <?php endforeach;?>
        </select><br><br>
        <?php endif; ?>
        Muuda valdkonda:
        <select name = "muudacateg">
            <?php foreach($categs as $cat):?>
            <option value="<?php echo htmlspecialchars($cat); ?>"<?php if (((empty($_POST['appr_modi'])) ? (htmlspecialchars($thistask['categ'])) : ($_POST['muudacateg']))== $cat) echo 'selected = "selected"';?>><?php echo htmlspecialchars($cat); ?></option>
            <?php endforeach;?>
        </select><br><br>
        Muuda täitmise tähtaega:
        <input type="date" name="muudadeadline" value = "<?php echo htmlspecialchars((empty($_POST['appr_modi'])) ? (htmlspecialchars($thistask['deadline'])) : (htmlspecialchars($_POST['muudadeadline']))) ;?>"/><br/><br>
        <input type="submit" value="Kinnita ülesande muutmine" name = "appr_modi"/>
        <input type="submit" value="Loobu" name = "dont_modi"/><br><br><br><br>
    </form>
    <?php if (isset($errors)):?>
    <?php foreach($errors as $error):?>
    <div style="color:red;"><?php echo htmlspecialchars($error); ?></div>
    <?php endforeach;?>
    <?php endif;?>
</div>
